/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/11/2016, 5:53:39 PM
    Author     : Neal
*/

/*
style sheet for wellington electro plating
*/

body{
    margin: 0;
    background-color: #F0F0F0;
}


/*top bar styling*/
.header{
    font-size: 2em;
    width:100%;
    background-color: rgb(191,191,191);
    
    border: solid;
    border-color: rgb(191,191,191);
    
    text-align: center;
    
}

.title{
    
   /* border: solid;
    border-color: red;*/
    display: inline-block;
}

/*this is the box containg the info div aswell as the location div*/
.main_content{
    width:70%;
    
    margin:auto;
    margin-top: 1em;
    
   /* border: solid;
    border-color: red;
   */
}

.image{
  
}

/*main body with info*/
.info_body{
    display: inline-block;
    width:60%;
    height:100%;
    
   /* border: solid;
    border-color: yellow;
    */
}
.info_container{
    width: 90%;
    margin: auto;
    background-color: white;
    padding-left: 1em;
    padding-bottom: 1em;
}



/*location side bar*/
.location{
    margin-left: 1em;
    display: inline-block;
    background-color: white;
    
    width:35%;
    height: max-content;
    
   /* border: solid;
    border-color: green;
    */
}

.contact_info{
width: 80%;
margin:auto;
}

#map_google{
    margin:auto;
    margin-top: 1em;
    height: 40em;
    width: 80%;
}

.bottom_bar_info{
    width:100%;
    background-color: rgb(191,191,191);
    
    border: solid;
    border-color: rgb(191,191,191);
}