/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/11/2016, 5:53:39 PM
    Author     : Neal
*/

/*
style sheet for wellington electro plating
*/

body{
    margin: 0;
  
    /*background-color: #2D5A7D;
    background-color: #D2E2EE;
    */
    background-color: #D2E2EE;
    font-family: 'Taviraj', serif;
    color: #4A4A4A;
}


/*top bar styling*/
.header{
    
    font-size: 2em;
    width:100%;
    margin: auto;
   
    /*
    background-image: url("images/ElectroLogo.png");
    background-size: 2em;
    */
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-color:  #A0BDD4;
    
    
        
    text-align: center;
    
    box-shadow: 10px 10px 5px #888888;
    
    
}

.logo{
   /* height: 5em;
    width: 5em;
    
    background-image: url("images/ElectroLogo.png");
    background-size: 100% 100%;
   
   */
   
   background-image: url("images/logo_lightning.png");
   background-size: 100% 100%;
   display: inline-block;
   vertical-align: bottom;
   margin-bottom: 0.5em;
   margin-right: 2%
       
}



@media screen and (max-width: 500px){
    .header{
        font-size: 0.5em;
        width:98%;
        margin: auto;
        
        border: solid;
        border-color: black;

        margin-top: 0.5em;

        text-align: center;
    }
}

.title{
    
   /* border: solid;
    border-color: red;*/
    display: inline-block;
    
}

/*this is the box containg the info div aswell as the location div*/
.main_content{
    width:80%;
    
    margin:auto;
    margin-top: 1em;
    margin-bottom: 1em;
   /* border: solid;
    border-color: red;
   */
}

.image{
        text-align: center;
    }

.picture_harley{
    width:100%;
    padding-bottom: 66%;
    margin: auto;
    
    
    border: solid;
    border-color: black;
    border-width: 1px;
    margin-top: 2em;
    
    background-image: url("images/motorbike.jpg");
    background-size: 100% 100%;
}
/*main body with info*/
.info_body{
    display: inline-block;
    vertical-align: top;
    
    width:64%;
    height:100%;
    background-color: #D2E2EE;
    margin-left: 1%;
    
    
    border: solid;
    border-color: #B31818;
    border-width: 2px;
    border-radius: 2px;
    
    outline-color: #0D96FF;
    outline-style: solid;
    outline-width: 2px;
    
    
    box-shadow: 10px 10px 5px #888888;
}



.info_container{
    
    width: 80%;
    margin: auto;
    
   
    padding-bottom: 1em;
    
    
    
}



/*location side bar*/
.location{
    
    border: solid;
    border-color: #B31818;
    border-width: 2px;
    border-radius: 2px;
    box-shadow: 10px 10px 5px #888888;
    
    outline-color: #0D96FF;
    outline-style: solid;
    outline-width: 2px;
    
    margin-left: 1%;
    display: inline-block;
    background-color: #D2E2EE;
    margin-right: 1%;
    float:right;
    
    width:31%;
    height: 100%;
    
    padding-bottom: 2em;
    padding-top: 1em;
    
   /* border: solid;
    border-color: green;
    */
}


.contact_info{
width: 80%;
margin:auto;
}

#map_google{
    border: solid;
    border-color: black;
    border-width: 1px;
    
    
    margin:auto;
    margin-top: 1em;
    height: 14em;
    width: 94%;
}

.bottom_bar_info{
    width:100%;
    
    padding-bottom: 1em;
    padding-top: 1em;
    
    margin: auto;
    margin-bottom: 0.5em;
    
    background-color:  #A0BDD4;
    box-shadow: 10px 10px 5px #888888;
    
}

.bottom_name_info{
    width: 70%;
    margin: auto;
}

/*tablet*/
@media screen and (max-width: 1240px)
                and (min-width: 501px){
                    
    .header{
        border: none;
        background-color:  #A0BDD4;
        font-size: 0.5em;
        
        background-image: none;
        
        box-shadow: none;
    }
    
    
    
    .main_content{
        width: 100%;
        margin: auto;
    }
    
    .info_body{
        
        vertical-align: top;

        width:100%;
        height:100%;
        
        margin: auto;
        
        outline: none;
        border: none;
        box-shadow: none;

        
    }
      
    
    .location{        
         
        background-color:  #A0BDD4;
        
        outline: none;
        border: none;
        box-shadow: none;

        width:100%;
        padding-bottom: 1em;
        margin-right: 0%;
        
    }
    
    #map_google{
        display: inline-block;
        height: 20em;
        width: 40%;
        margin-left: 5%;
        padding-right: 5%;
        
        
    }
    
    .contact_info{
        padding-left: 5%;
        width: 40%;
        display: inline-block;
        vertical-align: top;
    }
    
     .bottom_bar_info{
        border: none;
        background-color: #D2E2EE;
        box-shadow: none;
        
    }
    
    .bottom_name_info{
        width: 90%;
    } 
    
}


/*phone*/
@media screen and (max-width: 500px){
    
    .header{
        border: none;
        background-color:  #A0BDD4;
        background-image: none;
        
        box-shadow: none;
    }
    
    .main_content{
        width: 100%;
    }
    
    .info_body{
        display: inline-block;
        vertical-align: top;
        
        outline: none;
        border: none;
        box-shadow: none;
        
        width:100%;
        height:100%;
    
        margin: auto;       
    }
    
        
    .location{
        
        margin: auto;
        margin-right: 0%;
        display: inline-block;
        background-color:  #A0BDD4;
        
        outline: none;
        border: none;
        box-shadow: none;

        width:100%;
        padding-bottom: 1em;
        
    }
    
    #map_google{
        height: 10em;
        
    }
    
    .bottom_bar_info{
        border: none;
        background-color: #D2E2EE;
        
        box-shadow: none;
        
    }
    
    .bottom_name_info{
        width: 90%;
    } 
    
    
}